
.red {
    background-color: orange;
}

.orange {
    background-color: #cc6600;
}

.yellow {
    background-color: #ffcc00;
}

.green {
    background-color: #009900;
}

.blue {
    background-color: #0033cc;
}

.pink {
    background-color: #ff86f4;
}

.mag {
    background-color: #ff00ff;
}

.purple {
    background-color: #660066;
}









































div {
    width:100px;
    height:100px;
    border: 1px solid black;
    float:left;
    padding: 1px;
    text-align:center;
}